#colecciones_generales{
    display: flex;
}


aside{
    width: 15%;
    margin-top: 20px;
    background-color: antiquewhite;
}

aside nav{
    margin-top: 70px;
}

nav section{
    text-align: center;
    margin-bottom: 100px;
}


nav section h3{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(90, 90, 150);
}


nav section a{
    display: block;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

#colecciones_generales #obras{
    width: 85%;
    margin-top: 20px;
    background-color:rgb(207, 224, 240, 0.8);
}

#obras h2{
    font-size: 40px;
    font-style: italic;
    color: white;
    background-color: rgb(140, 198, 202);
    border-width: 5px;
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
}


#colecciones_generales #obras, #todas{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#colecciones_generales section article{
    flex: 1 0 30%; 
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    width: 200px;
}

figure{
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 5px;
    margin: 0;
    height: 700px;
}

figure img{
    width: 100%; 
    height: 600px; 
    object-fit: cover; 
}

figcaption{
    text-align: center;
}

figcaption h3, figcaption p, figcaption time{
    margin: 10px;
    font-style: italic;
}

figcaption h3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(93, 78, 107);
    
}

figcaption p, figcaption time{
    font-size: 18px;
    font-weight: bold;
    color: rgb(93, 78, 107); 
}

figcaption cite{
    font-weight: lighter;
    color:black;
}

#siguientes a{
    text-decoration: none;
    color: rgb(116, 88, 141);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-right: 100px;
}

@media (max-width: 1000px){
    #colecciones_generales{
        flex-direction: column;
    }

    aside{
        width: 100%;
    }

    aside nav{
        margin-top: 20px;
    }

    #colecciones_generales #obras{
        width: 100%;
    }

    #colecciones_generales #obras, #todas{
        flex-direction: column;
    }

    #colecciones_generales section article{
        flex: 1 0 auto; 
        width: 100%;
    }

    #siguientes a{
        margin-right: 0;
    }
}




