main #contacto {
    width: 50%;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(207, 224, 240, 0.8);
    border-radius: 20px;
}

main #contacto h2 {
    font-size: 30px;
    color: rgb(46, 46, 82);
    margin-bottom: 20px;
}

main #contacto p {
    font-size: 23px;
    color: black;
}

main #contacto a {
    color: rgb(35, 127, 202);
    text-decoration: none;
}